<!-- About Section -->


<section id="about" class="about section">

    <div class="container section-title">
        <h2>Sobre Mim</h2>
        <p>Analista de Dados com 4+ anos de experiência em desenvolvimento de soluções com Python, SQL, Power BI e Machine Learning. Expertise em automação de processos, construção de dashboards e análise preditiva, com passagem por instituições financeiras (Sicoob) e indústrias (Amcor, Nutripura). Formação em Engenharia Mecânica com projetos acadêmicos de visão computacional (OpenCV) e IA (TensorFlow). Busco oportunidades remotas para aplicar habilidades técnicas em análise de dados, engenharia, automação e otimização de negócios.</p>    
    </div>

    <div class="container" data-aos-delay="100">
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
                <img src="assets/img/fotos/eu-quad.png" class="img-fluid">
            </div>

            <div class="col-lg-8 content">

                <div class="row">

                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Nascimento:</strong> <span>04 Dez 1998</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Telefone:</strong> <span>(66) 9 9713 7958</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Cidade:</strong> <span>Rondonópolis</span></li>
                        </ul>
                    </div>

                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Formação:</strong> <span>Engenharia</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>wymirandac@gmail.com</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Cargo Atual:</strong> <span>Analista de Dados Pl</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>